[{:itonami.blueprint/social-impact [:regulatory-transparency :public-accountability :administrative-efficiency], :itonami.blueprint/domain :government/regulatory-filing-coordination, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "3359", :itonami.blueprint/name "Regulatory Filing Coordination Practice", :itonami.blueprint/governor :regfiling-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3359", :itonami.blueprint/license "AGPL-3.0-or-later"}]
